.App {
  width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  vertical-align: middle;
  background: center / contain no-repeat;
  @for $No from 1 to 10 {
    &.imgNo#{$No} {
      background-image: url(../images/00#{$No}_0.png);
    }
  }
  @for $No from 10 to 100 {
    &.imgNo#{$No} {
      background-image: url(../images/0#{$No}_0.png);
    }
  }
  @for $No from 100 to 803 {
    &.imgNo#{$No} {
      background-image: url(../images/#{$No}_0.png);
    }
  }
  &.imgType {
    width: 110px;
    height: 110px;
    background-size: 100px 100px;
    cursor: pointer;
    &:hover {
      background-size: contain;

    }
  }
}
.imgColor {
  width: 105px;
  height: 105px;
  @for $No from 1 to 10 {
    &.imgColorNo#{$No} {
      background-image: url(../images/00#{$No}_2.png);
    }
  }
  @for $No from 10 to 100 {
    &.imgColorNo#{$No} {
      background-image: url(../images/0#{$No}_2.png);
    }
  }
  @for $No from 100 to 803 {
    &.imgColorNo#{$No} {
      background-image: url(../images/#{$No}_2.png);
    }
  }
}

.searchSectionInput {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .inputText {
    width: 200px;
  }
  .errorText {
    color: #ff0000;
    font-size: 14px;
  }
}
.outputArea {
  width: 550px;
  dl {
    display: inline-block;
    width: 330px;
    height: 150px;
    margin-bottom: 0;
    vertical-align: middle;
  }
  dt {
    display: inline-block;
    width: 150px;
  }
  dd {
    display: inline-block;
    width: 150px;
    span {
      + span {
        margin-left: 10px;
      }
    }
  }
}

.searchSectionType {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  .typeShowData {
    width: 1120px;
  }
  .clickTypeText {
    display: none;
    margin: 0;
    &.is-show {
      display: block;
    }
  }
}